@font-face {
    font-family: roboto;
    src: url(Roboto-Regular.ttf);
}
html, body {
	height:100%;
	margin:0;
	padding:0;
	font-family: roboto;
	background-color: #EEE;
	color: black;
	text-decoration: none;
}
a:visited {
	color: #090909;
	text-decoration: none;
}
a {
	text-decoration: none;
}
a:link {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
#content {
	border: 1px solid #555;
	border-radius: 7;
	background: -webkit-linear-gradient(top, #999 , #9f9f9f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #999 , #9f9f9f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, #999 , #9f9f9f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #999 , #9f9f9f); /* Standard syntax (must be last) */
	width: 400px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -200px;
	position: fixed;
	overflow: hidden;
	text-align: center;
}
.button {
	border: 1px solid #555;
	border-radius: 3;
	background: -webkit-linear-gradient(top, #ccc , #ddd); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #ccc , #ddd); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, #ccc , #ddd); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #ccc , #ddd); /* Standard syntax (must be last) */
	float: right;
	padding: 2px 15px;
	margin: 0px 10px;
}
#spacer {
	margin-right: 25px;
}
.button:hover {
	
	border: 1px solid #555;
	border-radius: 3;
	background: -webkit-linear-gradient(top, #ccc , #ddd); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #ccc , #ddd); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, #ccc , #ddd); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #ccc , #ddd); /* Standard syntax (must be last) */
	
	background: -webkit-linear-gradient(top, #d4d4d4 , #ddd); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #d4d4d4 , #ddd); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, #d4d4d4 , #ddd); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #d4d4d4 , #ddd); /* Standard syntax (must be last) */
}

.button:active { /* holding down */
	border: 1px solid #009;
}
.button:focus { /* that split second where its the focused element. */
	
	outline: none;
}
#footer {
	font-size: 13px;
	width: 90%;
	position: fixed;
	bottom: 10px;
	margin: 0 auto;
	margin-left: 5%;
	text-align: center;
}
.textBox {
	border-radius: 5px;
	width: 370px;
	font-size: 14px;
	font-family: Roboto;
	padding: 10px;
	margin: 10px;
	height: 150px;
	resize: none;
	
	border: 1px solid #555;
	background: -webkit-linear-gradient(top, #ccc , #ddd); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #ccc , #ddd); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, #ccc , #ddd); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #ccc , #ddd); /* Standard syntax (must be last) */
}
.textbox:hover {
	background: -webkit-linear-gradient(top, #d4d4d4 , #ddd); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #d4d4d4 , #ddd); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, #d4d4d4 , #ddd); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #d4d4d4 , #ddd); /* Standard syntax (must be last) */
}
.textBox:focus {
	outline: none;
	border: 1px solid #009;
	background: -webkit-linear-gradient(top, #d4d4d4 , #ddd); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #d4d4d4 , #ddd); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, #d4d4d4 , #ddd); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #d4d4d4 , #ddd); /* Standard syntax (must be last) */
}
#exitButton {
	margin-top: 10px;
	background: -webkit-linear-gradient(top, #c53f3f , #a85c5c); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #c53f3f, #a85c5c); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, #c53f3f , #a85c5c); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #c53f3f , #a85c5c); /* Standard syntax (must be last) */
}
#exitButton:hover {
	background: -webkit-linear-gradient(top, #c53f3f , #c53f3f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #c53f3f , #c53f3f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, #c53f3f , #c53f3f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #c53f3f , #c53f3f); /* Standard syntax (must be last) */
}




